# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# dotenv environment variable files
.env
.env.*
!.env.example

# Next.js build output
.next
out

# misc
.vercel
.DS_Store
